<h1>Sign Up</h1>

<div class="signup-wrapper">
    <form action="/accounts/signup" method="post">
        <label for="">Email</label>
        <input type="email" name="email">

        <label for="">Password</label>
        <input type="password" name="password">

        <button>Create Account >></button>
    </form>
</div>