<div class="login-wrapper">
    <h1>Log in</h1>
    <p>If you are already registered, then please log in.</p>

    <form action="/accounts/login" method="post">
        <div class="login-box">
            <label for="">Email</label>
            <input type="email" name="email">

            <label for="">Password</label>
            <input type="password" name="password">
        </div>

            <button>Log in >></button>
    </form>
    <!-- <div class="divider"></div> -->
    <a href="/null"><button>Forgot your password?</button></a>
</div>

<div class="login-aside">
    <h1>Don't have an account?</h1>
    <p>With a Rate Your Music account, you can <strong>add</strong>, <strong>rate</strong> & <strong>review</strong> music</p>

    <a href="/accounts/signup"><button>Sign up now!</button></a>
</div>