<h1>Add a new song</h1>

<form action="/music" method="post">
    <label for="">Song Name</label>
    <input type="text" name="title"><br>

    <label for="">Artist</label>
    <input type="text" name="artist"><br>

    <label for="">Image URL</label>
    <input type="text" name="image_url"><br>

    <label for="">Year</label>
    <input type="text" name="year"><br>

    <label for="">Genre</label>
    <input type="text" name="genre"><br><br>

    <button>Add</button>
</form>